*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */


/* proprietà in comune di tutta la pagina */
.container{
    margin-left: auto;
    margin-right: auto;

    max-width: 1190px;
}

.section{
    padding: 50px;
}

.section.grey{
    background-color: #D3D3D3;
}

/* sezione navbar */
nav{
    padding: 20px; 

    background-color: #ADD8E6;
}

nav .container > *{
    border: 2px dashed black;
    /* test */
}

nav .container{
    display: flex;

    background-color: #DAA520;
}

nav .container :first-child, nav .container :last-child{
    padding: 5px;

    width: 240px;
}

nav .container .navigation{
    flex-grow: 1;

    padding: 5px;

    text-align: center;
}

nav .container .login{

    text-align: right;
}
/* fine sezione navbar */


/* sezione header */
header{
    background-color: #00008B;

    padding: 50px;
}

header .download{
    border: 2px dashed black;
    /* test */

    margin-left: auto;
    margin-right: auto;

    max-width: 900px;
    height: 400px;

    background-color: #EE82EE;
}
/* fine sezione header */


/* sections */
.section .row{
    display: flex;

    height: 500px;
}

.row > *{
    border: 2px dashed black;
    /* test */
}

.section .row .img{
    flex-grow: 1;

    background-color: #1E90FF;
}

.section .row .description{
    width: 480px;

    background-color: #FFC0CB;
}
/* fine sections */


/* quarta sezione */
.section .container.big{
    border: 2px dashed black;
    /* test */

    height: 900px;

    background-color: #228B22;
}
/* fine quarta sezione */


/* sezione footer */
footer{
    background-color: #23272A;
}

footer > *{
    margin: auto;
}

.top{
    display: flex;

    padding-top: 10px;
    margin-bottom: 40px;

    max-width: 1190px;
    height: 575px;
}

.top .big-column{
    flex-grow: 1;

    border: 2px dashed black;

    background-color: #F08080;
}

.top .small-column{
    border: 2px dashed white;
    /* test */
    
    width: 210px;

    background-color: #20B2AA;
}

hr{
    border: 1px solid white;
}

.bot{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;

    max-width: 1190px;
    height: 80px;

    background-color: #7FFFD4;
}

.bot .button{
    border: 2px dashed black;
    /* test */

    padding: 5px;

    background-color: #FFB6C1;
}


/* fine sezione footer */











