*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */


.container > *{
    /* test */
    border: 1px solid red;
}


/* sezione navbar */

nav{
    padding: 20px; 

    background-color: #ADD8E6;
}

.nav-container{
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    width: 1190px;

    background-color: #DAA520;
}

.nav-container :first-child, .nav-container :last-child{
    padding: 5px 0;

    width: 240px;

    border: 2px dashed black;
}

.nav-container .navigation{
    flex-grow: 1;

    padding: 5px;

    border: 2px dashed black;

    text-align: center;
}

.nav-container .login{

    text-align: right;
}

/* fine sezione navbar */

/* sezione header */

header{
    background-color: #00008B;

    padding: 50px;
}

.download{
    margin-left: auto;
    margin-right: auto;

    width: 900px;
    height: 400px;

    border: 2px dashed black;

    background-color: #EE82EE;
}

/* fine sezione header */

/* prima sezione */

.row-container{
    display: flex;

    padding: 50px;
    margin-left: auto;
    margin-right: auto;

    width: 1190px;
    height: 500px;
}

.row-container > *{
    border: 2px dashed black;
}

.section .row-container .img{
    flex-grow: 1;

    background-color: #1E90FF;
}

.section .row-container .description{
    width: 480px;

    background-color: #FFC0CB;
}

/* fine prima sezione */

/* seconda sezione */

.section.second{

    background-color: #D3D3D3;
}

.section.second .row-container{
    flex-direction: row-reverse;
}

/* fine seconda sezione */









